/*Color Scheme*/

/* main color - blue
#2387CD 
R: 35 G: 135 B: 205

/*gradient color
linear-gradient(to bottom, #2387CD, #92C13F );

/*Green
#92C13F 
R: 146 G: 193 B: 63 

/*Background color: 
#F2F6FC

*/


html,body{
   width: 100%;
   height: 100%;
}

body {
    margin:0;
    color:#303133;
    box-sizing: border-box;
    letter-spacing:1px;
    position:relative
}
.flex-row {
    display:flex;
    flex-direction: row;
    align-items: center;
    box-sizing:border-box;
}

.flex-row-head {
    width:100%;
    justify-content: space-between;
    align-items: center;
}
.flex-column {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.flex-column-center {
    justify-content: center;
    align-items: center;
}
.header-margin {
    margin:30px 0;
}
.grow {
    flex-grow: 1;
}
.headers {
    text-align: left;
    margin:10px 0
}
.heading1 {
    font-size:30px;
    font-weight:bold;
  }
  .heading2 {
    font-size:13px;
    color:#909399;
    padding:5px 0;
  }
  .add-btn {
      width:50px;
      height:50px
  }

  /* form style */
  .form-title {
    text-align: left;
    font-size:12px;
    font-weight: bold;
    color:rgba(0,0,0,0.5);
    margin:20px 0 5px 0;
  }

  .required {
      color:red;
      font-weight: bold;
      
  }