<template>
    <div id="opportunity" style="width:60%;height:120%"></div>
</template>


<script>
export default {
    mounted(){
        let that = this
        Highcharts.chart('opportunity', {
            chart: {
                type: 'variablepie'
            },
            title: {
                text: ''
            },
            exporting: {
                enabled: false
            },
            tooltip: {
                headerFormat: '',
                pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
                    '# of Opportunities: <b>{point.y}</b><br/>' 
            },
            series: [{
                minPointSize: 0,
                innerSize: '20%',
                zMin: 10,
                name: 'countries',
                data: [{
                    name: 'Product1',
                    y: 60,
                    z: 60
                }, {
                    name: 'Product2',
                    y: 101,
                    z: 101
                }, {
                    name: 'Product3',
                    y: 23,
                    z: 23
                }, {
                    name: 'Product4',
                    y: 16,
                    z: 16
                }, {
                    name: 'Product5',
                    y: 74,
                    z: 74
                }, {
                    name: 'Product6',
                    y: 50,
                    z: 50
                }, {
                    name: 'Product7',
                    y: 30,
                    z: 30
                },{
                    name: 'Product8',
                    y: 44,
                    z: 44
                }]
            }]
        });

    }
}
</script>

<style scoped>

</style>