<template>
    <div id="status" style="height:70%"></div>
</template>

<script>
export default {
    mounted() {
        Highcharts.chart('status', {
            chart: {
                type: 'column'
            },
            title: {
                text: ""
            },
            xAxis: {
                categories: ['To-Do', 'On Progress', 'Donw']
            },
            yAxis: {
                min: 0,
                title: {
                    text: '# of Cases'
                }
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                shared: true
            },
            exporting: {
                enabled: false
            },
            plotOptions: {
                column: {
                    stacking: 'percent'
                }
            },
            series: [
            { 
                name: 'Jason',
                data: [12, 1, 10]
            }, {
                name: 'Tina',
                data: [9, 3, 2]
            },
             {
                name: 'Edward',
                data: [9, 6, 0]
            }]
        });
    }
}
</script>