<template>
    <div id="verticalChart" style="height:100%;width:65%"></div>
</template>

<script>
export default {
    mounted(){
        let that = this
        Highcharts.chart('verticalChart', {
            title: {
                text: ''
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: '# of cases'
                }
            },
            exporting: {
                enabled: false
            },
            legend: {
               enabled:false,
            },

            plotOptions: {
               line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: true
               }
            },

            series: [{
                name: '',
                data: [94, 63, 92, 43, 32, 37,47,52,85,57,147,105]
            },],

        });
    }
}
</script>