<template>
  <div id="login">
    <div class="login-section flex-column">
      <el-form
        class="login-form flex-column"
        label-position="top"
        label-width="80px"
        :model="form"
        :rules="rules"
        ref="form"
      >
        <!-- <div> -->
        <div style="margin-bottom:30px">
          <div style="font-weight:bold;font-size:35px;margin-bottom:10px">
            Login
          </div>
          <div>this is a description</div>
        </div>
        <el-form-item label="USERNAME(admin)" prop="username">
          <el-input
            v-model="form.username"
            placeholder="Please enter admin"
          ></el-input>
        </el-form-item>
        <el-form-item label="PASSWORD(password)" prop="password">
          <el-input
            v-model="form.password"
            type="password"
            placeholder="Please enter password"
          ></el-input>
        </el-form-item>

        <el-form-item style="margin-top:30px">
          <el-button
            type="primary"
            @click="submitForm('form')"
            style="width:100%"
            :loading="loading"
            >LOGIN</el-button
          >
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script type="text/javascript">
//import {login} from '@/api/user'    if using an api
import { mapActions, mapState } from "vuex";
import Cookie from "../service/cookie.js";

export default {
  data() {
    return {
      loading: false,
      form: {
        username: "",
        password: "",
      },
      //validation rules for login form
      rules: {
        password: [
          { required: true, message: "Please enter password", trigger: "blur" },
        ],
        username: [
          { required: true, message: "Please enter username", trigger: "blur" },
        ],
      },
    };
  },
  computed: {
    ...mapState({
      login: (state) => state.login,
    }),
  },
  methods: {
    ...mapActions(["toggleShowLogin"]),

    async submitForm(form) {
      if (this.loading) return;
      this.$refs.form.validate(async (valid) => {
        //validate form using Element UI's form validation method
        if (valid) {
          this.loading = true;
          let data = this.form;

          if (data.username == "admin" && data.password == "password") {
            // login successful
            this.toggleShowLogin(true);
          } else {
            // login fail
            this.loading = false;
          }

          //****************if using an api*****************************
          // let res = await login(data)
          // if(!res.success) { // login fail
          //   this.loading = false
          //   this.$message.error(res.message ? res.message : 'Please enter the correct username and password combination')
          //   return
          // } else { // login successful
          //   this.$message.success(res.message) //show success message
          //   Cookie.set('Authorization', res.sessionId)  //save session id in cookie
          // }
          // this.toggleShowLogin(true)
          //window.location.reload()
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#login {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #2387cd, #92c13f);
  opacity: 0.95;
}
.login-section {
  background: #ffffff;
  box-shadow: 2px 1px 30px rgba(0, 0, 0, 0.15);
  padding: 80px 60px;
  text-align: left;
  width: 50%;
  justify-content: space-around;
  box-sizing: border-box;
  opacity: 0.8;
  border-radius: 30px;
}
.login-form {
  justify-content: center;
  flex-grow: 1;
}
</style>
