<template>
  <div id="nav" class="flex-column">

        <div style="position:relative;width:100%">
          <el-button :icon="isCollapse ? 'el-icon-arrow-right':'el-icon-arrow-left'" circle size="mini" class="collapse"
            @click="isCollapse=!isCollapse">
          </el-button >
          <div class="nav-header" :style="{'padding':isCollapse ? '':'0 20px'}">
                <div style="width:41px;height:50px"> </div>
            </div>
        </div>

        <el-menu
            router
            :collapse="isCollapse"
            :default-active="$route.path"
            active-text-color="rgba(255,255,255)"
            background-color="#2387CD"
            text-color="rgba(255,255,255,0.5)"
            class="el-menu-vertical-demo"
            :style="{'width': isCollapse ?  '' : '100%'}"
            >

                <div class="flex-column flex-row-head" style="width:100%;margin-top:60px">
                  <el-menu-item
                    v-for="item in menu"
                    :index="item.route"
                    :key="item.route"
                    class="flex-column flex-column-center"
                    :style="{'padding':isCollapse ? '20px 0':'20px 0 0 0','width':'100%','height':'100%'}"
                    >
                      <el-tooltip v-if="isCollapse" effect="dark" :content="item.name" placement="right-end">
                      <i :class="item.icon"
                        style="color:rgba(255,255,255,0.7);margin:0;width:100%;font-size:20px">
                      </i>
                      </el-tooltip>
                        <i :class="item.icon"
                        v-else
                        style="color:rgba(255,255,255,0.7);margin:0;width:50%;font-size:30px">
                      </i>
                      <span style="width:100%;font-weight:bold;padding:15px" v-show="!isCollapse">{{item.name}}</span>
                  </el-menu-item>

                </div>
        </el-menu>

        <div style="height:30%" >
            <el-popover
              placement="right"
              width="160"
              v-model="showLogout">
              <div style="text-align: right; margin: 0">
                <el-button type="primary" size="mini" @click="handleLogout">LogOut</el-button>
              </div>

              <div slot="reference">
                <img
                  src="../assets/user_profile.png"
                  class="nav-logo"
                  :style="{'width':isCollapse ? '30px':'40px','height':isCollapse ? '30px':'40px'}"/>
                <div class="username" :style="{'font-size':isCollapse ? '10px':'12px',}">USER</div>
              </div>
            </el-popover>
         </div>

  </div>
</template>

<script type="text/javascript">
import { mapActions,mapState } from 'vuex'

export default {
    data(){
      return {
        isCollapse: true,
        showLogout:false,
        menu:[
          {
            name:"Home",
            icon:"el-icon-tickets",
            route:"/",
          },
          {
            name:"Manage",
            icon:"el-icon-user",
            route:"/manage",
          },
        ]
      }
    },
    computed: {
      getActive() {
        let path = this.$route.path.split('/')
        return path[1]
      }
    },
    methods:{
       ...mapActions('toggleShowLogin'),
       handleLogout(){
            this.showLogout = false
            this.$store.dispatch('toggleShowLogin',false)
      }
    },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#nav {
  box-shadow:3px 3px 30px rgba(0,0,0,0.2);
  z-index:999;
  justify-content: space-around;
  background:#2387CD;
  align-items: center;
  height:100%;

}
.el-menu-vertical-demo {
  box-sizing: border-box;
  height:100%;

}
.tac {
    height:100%;
}

.collapse {
  position:absolute;
  top:20px;
  right:-15px;
  width:30px;
  z-index:999;
  border:1px solid rgba(0,0,0,0.2)
}

.nav-logo {
  margin-top:30px;
  border:1.5px solid #ffffff;
  border-radius:50%;
  box-shadow:3px 3px 30px rgba(0,0,0,0.2);
  cursor:pointer
}
.username {
  color:rgba(255,255,255,0.7);
  margin-top:10px;
}
</style>
<style scoped>
  .el-menu {
    border:0
  }
  .el-menu-item.is-active {
    border-left:10px solid #92C13F;
    background: rgba(0,0,0,0.2) !important;
  }
</style>