<template>
    <div class="flex-row board">
        <div class="flex-column" style="height:100%;width:65%;justify-content:space-between">
            <!-- case number -->
            <div class="chart-item flex-row" style="height:48%;justify-content:space-between">
                 <div class="flex-column chart-left">
                    <div>
                        <div class="chart-title">Weekly Opportunities</div>
                        <div class="flex-row" style="justify-content:space-between;">
                            <div class="flex-column" style="align-items:center">
                                <div class="heading1">33</div>
                                <div class="heading2">New</div>
                            </div>
                            <div class="flex-column" style="align-items:center">
                                <div class="heading1">3</div>
                                <div class="heading2">Important</div>
                            </div>
                        </div>
                    </div>
                    <el-radio-group v-model="caseType" size="mini">
                        <el-radio-button label="1">By Product</el-radio-button>
                        <el-radio-button label="2">By Region</el-radio-button>
                    </el-radio-group>
                 </div>
                 <opportunity></opportunity>
            </div>

            <div class="chart-item flex-row" style="height:48%;justify-content:space-between">
                <div class="flex-column" style="height:100%;justify-content:space-between">
                    <div class="chart-title">Yearly Trend</div>
                    <div>
                       <div class="flex-column" style="margin-bottom:30px">
                            <div class="heading1">8648</div>
                            <div class="heading2">Total Opportunities</div>
                        </div>
                        <div class="flex-column">
                            <div class="heading1">$909,998</div>
                            <div class="heading2">Total Revenue</div>
                        </div>
                    </div>
                </div>
                <vertical></vertical>
            </div>
            
        </div>

        <!-- status -->
        <div class="chart-item flex-column chart-left" style="width:33%;">
            <div>
                <div class="chart-title">Work Status</div>
                <div class="flex-row" style="width:100%;justify-content:space-between;">
                        <div class="flex-column" style="align-items:center">
                            <div class="heading1">29</div>
                            <div class="heading2">To Do</div>
                        </div>
                        <div class="flex-column" style="align-items:center">
                            <div class="heading1">13</div>
                            <div class="heading2">On Progress</div>
                        </div>
                        <div class="flex-column" style="align-items:center">
                            <div class="heading1">40</div>
                            <div class="heading2">Done</div>
                        </div>
                </div>
            </div>
            <status></status>
        </div>


    </div>
</template>

<script>
import status from './charts/status.vue'
import opportunity from './charts/opportunity.vue'
import vertical from './charts/vertical.vue'

export default {
    components:{
        status,
        opportunity,
        vertical
    },
    data(){
        return {
            caseType:"1",
        }
    }
}
</script>
<style scoped>
    .board {
        width:100%;
        height:100%;
        position: relative;
        justify-content: space-between
    }
    .chart-item {
        background: #ffffff;
        box-shadow: 5px 5px 5px 0 #EBEEF5;
        padding:4%;
        box-sizing: border-box;
        text-align: left;
    }
    .chart-title {
        font-weight: bold;
        margin-bottom:20px;
        color:#909399;
        justify-content: space-between
    }
    .chart-left {
        height:100%;
        justify-content:space-between
    }
</style>