<template>
  <div class="home flex-column" style="padding:0;height:100%">
    <div class="home-head flex-row">
      <div class="home-header">
        <div class="flex-row flex-row-head collapse-title"  slot="title">
              <div style="font-weight:bold;font-size:20px;line-height:2">
                <div class="add-item-detail"></div>
                <div style="text-align:left">{{isBoard ? "Dashboard" : 'Detail'}}</div>
              </div>
            </div>
      </div>
      <div style="height:100%;box-sizing:border-box;position:relative">
          <el-date-picker
            style="margin-right:10px"
            v-model="selectedTime"
            type="daterange"
            align="right"
            unlink-panels
            range-separator="to"
            start-placeholder="Start Date"
            end-placeholder="End Date"
            :picker-options="pickerOptions">
          </el-date-picker>
          <el-button type="primary"  @click="isBoard=!isBoard" :plain="!isBoard">{{isBoard ? "Detail" : 'Dashboard'}}</el-button>
      </div>
      
    </div>

    <div style="padding:30px;position:relative;box-sizing:border-box;height:85%" class="grow">
        <board v-if="isBoard"></board>
        <div v-if="!isBoard" style="height:100%;position:relative">
            <list></list>
        </div>
        
    </div>
   
  </div>
</template>

<script type="text/javascript">
import list from './list.vue'
import board from './board.vue'
import { mapState } from 'vuex'

export default {
  components: {
   list,
   board,
  },

  data(){
    return{
      isBoard:true,
      selectedTime:'',
      pickerOptions: {
          shortcuts: [{
            text: 'Last Week',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: "Last Month",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Past 3 Months',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
    }
  },

  methods:{

  },
}
</script>
<style scoped>
.home {
  position:relative;
  background:#F2F6FC;
  height:100%;
}
.home-head {
  background:#ffffff;
  width:100%;
  padding:25px 30px 15px 30px;
  /* height:15%; */
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-end
}
.home-header {
  width:50%;
  text-align: left
}
.add-item-detail {
    background:linear-gradient(to right, #2387CD, #92C13F );
    width:120px;
    height:6px;
    border-top-right-radius:100%;
    border-bottom-right-radius:100%;
}
</style>