<template>
  <div class="list-section">
    <div class="flex-row flex-row-head">
      <el-select v-model="type" placeholder="Please select department" style="margin-right:10px;">
        <el-option v-for="item in department" :key="item.id" :label="item.name" :value="item.id"></el-option>
      </el-select>
      <div>
        <el-button @click="exportData">Export</el-button>
        <el-button type="primary">New</el-button>
      </div>
    </div>

    <el-divider></el-divider>
    <div class="flex-column" style="justify-content:space-between;height:100%">
      <div class="oppo-list">
        <el-table stripe :data="list" empty-text="No Data">
          <el-table-column sortable label="Date" prop="date"></el-table-column>
          <el-table-column sortable label="Customer" prop="customer"></el-table-column>
          <el-table-column sortable label="Sales" prop="sales"></el-table-column>
          <el-table-column sortable label="Product" prop="product"></el-table-column>
          <el-table-column sortable label="Status">
            <template slot-scope="scope">
              <div>
                  <el-tag
                    type="info"
                    effect="dark"
                    style="cursor:pointer"
                    v-if="scope.row.status == 1 || scope.row.status == null"
                  >To Do</el-tag>
                  <el-tag
                    type="warning"
                    effect="dark"
                    style="cursor:pointer"
                    v-if="scope.row.status == 2"
                  >On Progress</el-tag>
                  <el-tag
                    type="success"
                    effect="dark"
                    style="cursor:pointer"
                    v-if="scope.row.status == 3"
                  >Done</el-tag>
              </div>
            </template>
          </el-table-column>

          <el-table-column fixed="right" align="right" width="300">
            <template>
              <el-button
                size="mini"
              >Quote</el-button>
              <el-button
                type="primary"
                size="mini"
              >Edit</el-button>
              <el-button
                type="danger"
                size="mini"
              >Delete</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <el-pagination
        v-if="list.length > 0"
        :current-page.sync="currentPage"
        :page-size="50"
        layout="total, prev, pager, next"
        :total="totalPage"
      ></el-pagination>
    </div>

  </div>
</template>

<script type="text/javascript">
import bus from "./bus.js";

export default {
  components: {

  },

  data() {
    return {
      department:[
        {
          id:1,
          name:"Team A"
        },
        {
          id:2,
          name:"Team B"
        },
      ],
      search: "",
      type:"",
      list: [
        {
          id:1,
          customer:"SK Technology",
          sales:"David Smith",
          date:"01/01/20",
          product:"Product 1",
          status:1,
        },
        {
          id:2,
          customer:"SAP Global",
          sales:"Lucas Smith",
          date:"01/02/20",
          product:"Product 2",
          status:3,
        },
        {
          id:3,
          customer:"I.G. LLC",
          sales:"Jessica Smith",
          date:"01/03/20",
          product:"Product 3",
          status:1,
        },
        {
          id:4,
          customer:"I.G. LLC",
          sales:"Jessica Smith",
          date:"01/04/20",
          product:"Product 3",
          status:2,
        },
      ],
      currentPage: 1,
      totalPage: 1,
      showStatus: false, 
    };
  },

  methods: {
    //export data to excel
    async exportData() {
    //if call api
      // let data = {
   
      // };
      //let res = await exportOpportunity(data);
      // const link = document.createElement("a");
      // let blob = new Blob([res], {
      //   type: "application/vnd.ms-excel;charset=UTF-8",
      // });
      // link.style.display = "none";
      // link.href = URL.createObjectURL(blob);
      // link.download = new Date() + "name"; //document name
      // document.body.appendChild(link);
      // link.click();
      // document.body.removeChild(link);
    },
   
  },
};
</script>

<style scoped>

  .list-section {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }

</style>