<template>
  <div id="app" >
      <login id="login" v-if="!login"></login>
        <Nav id="nav" v-if="login"></Nav>
        <div id="main" v-if="login">
          <router-view id="router"/>
        </div>
  </div>
</template>

<script>
import Nav from '@/components/nav.vue'
import Login from '@/components/login.vue'
import { mapState } from 'vuex'

export default {
  components: {
    Nav,
    Login
  },

  data() {
    return {

    }
  },
  computed:{
    ...mapState({
      login:state => state.login
    })
  },

  methods: {

  }

}
</script>


<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height:100%;
  display: flex;
  flex-flow: row nowrap;
  position:relative;
  width: 100%;
  min-height: 100%;
}
#login {
  height:100%;
  width: 100%;
  position:relative;
  background:#F2F6FC;
  box-sizing: border-box;
}
#nav {
  height:100%;
}
#main {
  height:100%;
  width: 100%;
  flex-grow:1;
  display:flex;
  flex-direction:column;
}
#router {
  flex-grow:1;
  height:100%;
}
</style>
